
@media screen and (min-width: 1445px) and (max-width: 1630px) {

	/********** ACCUEIL **********/

	.sousMenu, .positionFixed {
		right: 20px;
	}
	.conteneur-informationspratiques .conteneur-div,
	.conteneur-inscription .conteneur-div,
	.conteneur-programme .conteneur-div, 
	.conteneur-infoP .conteneur-div {
		padding: 20px 260px 50px 260px;
	}

	.conteneur-programme figure.fig-img span.gc {
		padding: 5px;
		font-size: 5em;
	}

	.conteneur-infoP figure.fig-img span {
		font-size: 5em;
	}

	.conteneur-colloque,
	.conteneur-contact-presentation,
	.conteneur-mentions-presentation {
		padding: 20px 200px 50px 200px;
	}

	.conteneur-informationspratiques-h1,
	.conteneur-colloque-h1,
	.conteneur-contact-h1,
	.conteneur-mentions-h1 {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.conteneur-carrousel-modifier .before-figure {
		width: 350px;
		min-height: 350px;
		margin: 10px;
	}

	.conteneur-carrousel-modifier figure.fig-img {
		width: 100%;
	}

	.conteneur-carrousel-modifier figure.fig-img img {
		height: 200px;
	}

	.conteneur-carrousel-modifier figure.fig-img figcaption {
		padding: 20px;
	}

}