@font-face {
  font-family: 'icomoon';
  src:  url('../police/icomoon.eot?sn10qa');
  src:  url('../police/icomoon.eot?sn10qa#iefix') format('embedded-opentype'),
  url('../police/icomoon.ttf?sn10qa') format('truetype'),
  url('../police/icomoon.woff?sn10qa') format('woff'),
  url('../police/icomoon.svg?sn10qa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}
.icon-library:before {
  content: "\e921";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-map:before {
  content: "\e94b";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss2:before {
  content: "\ea9c";
}
.t_max_horaire {
    width: 105px;
    max-width: 105px;
}
.t_max_salle {
    width: 80px;
    max-width: 80px;
}
.t_max_titre {
    width: 520px;
    max-width: 520px;
}
.t_max_responsable {
    width: 250px;
    max-width: 250px;
}
